.form-task {
  padding: 20px;
  width: 600px;
}

.form-task__datetime {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form-task__date, .form-task__time {
  margin: 0 7px;
}

.form-task__social {
  margin-bottom: -1px;
}

.form-task__datetime-at {
  font-size: 16px;
}

.form-task__footer {
  margin-top: 40px;
}

.form-task__footer_sides {
  display: flex;
  justify-content: space-between;
}
