@import "../common";

.new-task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 12px 15px;
  width: 200px;
  height: 200px;
  border: 1px dashed #E3E3E3;
  background-color: #F5F5F5;
  text-align: center;
  font-size: 16px;
  outline: none;
  transition: all;
  @apply --transition;
}

.new-task:hover, .new-task:focus {
  border-color: black;
  cursor: pointer;
}

.new-task__plus {
  margin-top: 6px;
}
