@import "../common";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal_closed {
  visibility: hidden;
  opacity: 0;
}

.modal_open {
  visibility: visible;
  opacity: 1;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #F5F5F5;
  transform: translate(-50%, -50%);
}

.modal__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: white;
}

.modal__title {
  color: #4A4A4A;
  font-weight: bold;
  font-size: 16px;
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
