@import "../common";

@keyframes pulse {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1.05, 1.05);
  }
}

.task {
  position: relative;
  box-sizing: border-box;
  padding: 12px 15px;
  width: 200px;
  height: 200px;
  background: white;

  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: -1px 0 0  0px #e3e3e3, 1px 0 0 0px #e3e3e3;
}

.task_empty {
  box-shadow: none;
  background: transparent;
  border: 1px dashed #E3E3E3;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.task__plus {
  margin-top: 6px;
}

.task__clickable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.task__backlayer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: white;

  will-change: transform;
}

.task_editable {
  transition: border-color;
  @apply --transition;
}

.task_editable:hover, .task_editable:focus {
  outline: none;
  z-index: 1;
  cursor: pointer;
}

.task_editable:hover, .task_editable:focus {
  & > .task__backlayer {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.08), 0 1px 20px 0 rgba(0,0,0,0.10);
    transform: scale(1.05, 1.05);
    animation: pulse 0.5s;
  }
}

.task_editable:hover, .task_editable:focus {
  &.task_empty {
    border-color: black;
  }
}

.task_active {
  opacity: 0;
}

.task__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.task__time {
  color: #2A2A2A;
  font-weight: bold;
}

.task__body {
  overflow: hidden;
  max-height: calc(100% - 18px);
}

.task__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(0deg, #fff 0, hsla(0,0%,100%,.8) 90%, hsla(0,0%,100%,.5));
}
