@import "../common";

.dropdown {
  position: relative;
  display: flex;
}

.dropdown__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #FFFFFF;
  color: #2A2A2A;
  font-size: 16px;
  font-family: Stem, sans-serif;

  transition: transform;
  @apply --transition;
}

.dropdown__trigger-icon {
  display: flex;
  margin-left: 8px;
  transition: transform;
  @apply --transition;
}

.dropdown_opened .dropdown__trigger-icon {
  transform: rotate(180deg);
}

.dropdown__popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  visibility: hidden;
  margin-top: 3px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), 0 1px 10px 0 rgba(0,0,0,0.07);
  opacity: 0;
  transition: opacity;
  @apply --transition;
}

.dropdown_opened .dropdown__popup{
  visibility: visible;
  opacity: 1;
}
