.date-picker {
  width: 170px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), 0 1px 10px 0 rgba(0,0,0,0.07);
}

.date-picker__nav-button {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
