.time-picker {
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), 0 1px 10px 0 rgba(0,0,0,0.07);
}

.time-picker__list {
  overflow: scroll;
  width: 52px;
  height: 250px;
  text-align: center;
}

.time-picker__item {
  height: 25px;
  font-size: 16px;
  line-height: 25px;
}

.time-picker__item:hover, .time-picker__item_active {
  background-color: #DCDCDC;
  cursor: pointer;
}

.time-picker__hours, .time-picker__minutes {
  width: 52px;
}

.time-picker__minutes {
  border-left: 1px solid #D0CFCE;
}
