@import "../common";

.day {
  margin-bottom: 34px;
  width: 100%;
}

.day__head {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 21px;
}

.day__title {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.day__name {
  @apply --typography-title;
  margin-right: 21px;
}

.day__weekday {
  @apply --typography-subtitle;
}

.day__tasks {
  display: flex;
  flex-wrap: wrap;
}

.day__stats {
  display: flex;
  color: #A6A6A6;
}

.day__stat {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.day__stat:last-child {
  margin-right: 0px;
}

@media (max-width: 640px) {
  .day__title {
    margin-bottom: 15px;
  }
}
