.social-picker {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #E3E3E3;
  background: white;
}

.social-picker__item {
  background: none;
  padding: 0;
  border: 0;
  position: relative;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.social-picker__item_active .social-picker__avatar {
  opacity: 1;
  filter: grayscale(0);
}

.social-picker__item:hover .social-picker__avatar {
  filter: grayscale(0);
}

.social-picker__item:active {
  transform: scale(0.95, 0.95);
}

.social-picker__avatar {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  filter: grayscale(90%);
  opacity: 0.3;
}

.social-picker__account {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
}
