@import "../common";

.textarea {
  padding: 11px 20px;
  width: 100%;
  border: 1px solid #E3E3E3;
  font-size: 16px;
  resize: none;
  font-family: var(--font-family);
}

.textarea::placeholder {
  color: #CDCCCC;
  font-weight: normal;
  font-size: 16px;
  font-family: Stem, sans-serif;
}
