.button {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;

  transition: all 0.1s ease-in-out;
}

.button_default {
  background-color: #DCDCDC;
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1);
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  }

  &:active {
    background-color: #cacaca;
    box-shadow: none;
    outline: none;
  }
}

.button_loading {
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1);
  background-color: #DCDCDC;

  & > .button__text {
    opacity: 0;
    visibility: hidden;
  }
}

.button_disabled {
  background-color: #DCDCDC;
  box-shadow: none;
  opacity: 0.3;
  cursor: not-allowed;
}

.button_success {
  background-color: #76ec76;

  & > .button__text {
    opacity: 0;
    visibility: hidden;
  }
}

.button__icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;

  visibility: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.button__icon-check svg {
  transition: transform 0.2s ease-in;
  transform: scale(.5, .5);
}

.button_success .button__icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;

  visibility: visible;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.button_success .button__icon-check svg {
  transform: scale(1, 1);
}

.button__text {
  visibility: visible;
  opacity: 1
}
