@import "../common";

.page {}

.page__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: var(--color-background-dark);
}

.page__main {
  margin-left: 180px;
  padding: 16px 18px;
}

@media (max-width: 640px) {
  .page__sidebar {
    width: 0;
  }

  .page__main {
    margin-left: 0;
  }
}
