/* Colors */
:root {
  --color-background-dark: #373737;
  --color-background-light: #F5F5F5;
}

/* Transitions */
:root {
  --transition: {
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1)
  }
}

/* Typography */
:root {
  --font-family: Stem, sans-serif;

  --typography-title: {
    color: #333333;
    font-weight: bold;
    font-size: 30px;
  }

  --typography-subtitle: {
    color: #A6A6A6;
    font-size: 16px;
  }

  --typography-main: {
    color: #2A2A2A;
    font-size: 13px;
  }
}
