@font-face {
  font-family: 'Stem';
  src: url('/fonts/STM55.eot');
  src: url('/fonts/STM55.woff') format('woff'),
       url('/fonts/STM55.ttf') format('truetype'),
       url('/fonts/STM55.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('/fonts/STM75.eot');
	src: url('/fonts/STM75.woff') format('woff'),
       url('/fonts/STM75.ttf') format('truetype'),
       url('/fonts/STM75.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
